body {
    background-color: #111;
    color: #fff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: #000;
    text-align: center;
    padding: 35px;
    border: 2px solid #fff;
    border-radius: 10px;
    max-width: 400px;
  }

h2{
    color: rgb(0, 236, 0);
}

span {
    color: rgb(255, 136, 0);
}

  .result {
    font-size: 18px;
    margin-top: 10px;
  }

input {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    font-size: 16px;
    position: relative;
    right: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
